body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-image: url("../assets/img/background.jpg");
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}
.price{
    font-size: large;
    font-weight: bolder;
    color: #3f3f3f;
}
.menu__content {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px; /* Reduced margin */
    overflow: hidden;
    text-align: center;
    transition: transform 0.2s;
}

.menu__content:hover {
    transform: scale(1.05);
}

.menu__img {
    width: 80%; /* Reduced width */
    height: auto;
    border-bottom: 1px solid #ddd;
}

.menu__name {
    font-size: 1em; /* Reduced font size */
    margin: 10px 0; /* Reduced margin */
    color: #333;
}

@media (min-width: 768px) {
    section > div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .menu__content {
        flex: 1 1 calc(25% - 40px); /* Adjusted flex-basis */
        margin: 10px;
        max-width: calc(25% - 40px); /* Adjusted max-width */
    }
}
